.create {
  border: 2px solid red;
  width: 500px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playbackButton {
  padding: 5px;
}
