.threadReplies {
  white-space: pre-wrap;
}
.title {
  font-size: 30px;
  text-align: center;
}

.threadReplies {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 10px;
}

.replyForm {
  background: red;
  height: auto;
  width: auto;
}
