body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.note {
  background: gold;
  text-align: center;
  height: 300px; 
  width: 300px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 40px;
}

.plusNewNote{
  background: gold;
  opacity: 0.5;
  text-align: center;
  height: 300px; 
  width: 300px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 40px;}